.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.font-30{
  font-size: 30px;
}

.text-decoration-none{
  text-decoration: none;
}

button{
  background: #e1e1e1;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn {
  font-size: 1.5em;

  font-weight: bold;
  border-radius: 50%;
  background-color: #75a9ee;
  margin: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

form input, form textarea, label input{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 20px 12px 0;
  display: inline-block;
  font-size: 15px;
}

.row{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}