.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.font-30{
  font-size: 30px;
}

.text-decoration-none{
  text-decoration: none;
}

button{
  background: #e1e1e1;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}