.text-center{
  text-align: center;
}

.bold{
  font-weight: bold;
}


.font-30{
  font-size: 30px;
}

button{
  background: #e1e1e1;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 9px;
  background-color: #1b3253;
  margin: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

form input, form textarea, label input{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 20px 12px 0;
  display: inline-block;
  font-size: 15px;
}

.row{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-edit{
  background-color: #29307d !important;
  color: white !important;
  border-radius: 4px !important;
}
.btn-delete{
  background-color: #883a3a !important;
  color: white !important;
  border-radius: 4px !important;
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.ant-spin-dot-item {
  background-color: darkblue !important;
}