.container {
  padding: 0 2rem;
}

.row{
  display: flex;
  justify-content: center;
  height: 44vh;

}

.row:first-child{
  border-bottom: 1px dashed black;
}


.row a{
  text-decoration: none;
  color: black;
  font-size: 35px;
}

.row .center:first-child{
  border-right: 1px dashed  black;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
}

.title{
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.counter{
  padding: 20px  30px;
  font-size: 30px;
  color: white;
}

.description{
  padding: 30px 100px;
  font-size: 15px;
}